* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    margin-bottom: 20px;
}

.restaurants {
    width: 100%;
    max-width: 500px;
}

.restaurant {
    padding: 20px;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    max-width: 500px;
    width: 100%;
}